@import "./variable.scss" ;
@import "./theme/dark/cssVariable.scss";
@import "./transition.scss";

//滚动条样式
*{
  scrollbar-width: none !important; // 火狐浏览器无法自定义宽度，只能通过此属性使滚动条宽度变细
  -ms-overflow-style: none !important; // IE和edge两个浏览器中很难更改样式，因此隐藏滚动条
  &::-webkit-scrollbar {
    width: 8px !important;
  }
  &::-webkit-scrollbar-track {
    // 滚动条轨道
    border-radius: 5px !important;
    background-color: #f8f8f8 !important;
  }
  &::-webkit-scrollbar-thumb {
    // 滚动条滑块
    border-radius: 5px !important;
    background-color: #ddd ;
    &:hover {
      background-color: #bbb;
    }
  }
  .pointer{
    cursor: pointer;
  }
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#app{
    height: 100%;
}
